<%- include header %>
<form method="post">
	Post Title: <br>
	<input type="text" name="title"/><br>
	Text: <br>
	<textarea name="post" rows="20" cols="100"></textarea><br>
	<input type="submit" value="POST">
</form>
<%- include footer %>